.range {
  &__inner {
    margin-bottom: 40px;
  }

  &__content {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 10px;
  }
}

.tabs {
  font-size: 0;
  width: 100%;

  &__btn[type="radio"] {
    display: none;

    &:checked + .tabs__label {
      background-color: $main;
      border-bottom: 1px solid $main;
      color: #fff;
    }
  }

  &__content {
    /* скрыть контент по умолчанию */
    display: none;
    padding: 40px 15px 20px;
  }

  &__label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: $bg;
    border: 1px solid $main;
    padding: 8px 15px;
    font-size: 16px;
    line-height: 1.5;
    transition: all .2s;
    cursor: pointer;
    position: relative;
    top: 1px;

    &:not(:first-of-type) {
      border-left: none;
    }
  }

  &__content-item {
    margin-bottom: 20px;
    margin-right: 20px;
  }

  &__content-inner {
    width: 250px;
    padding: 20px;
  }

  &__content-img {
    max-width: 100px;
    margin: 0 auto 10px;
  }

  &__content-title {
    font-size: 16px;
    text-align: center;
    @extend %roboto-500;
  }
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3,
#tab-btn-4:checked ~ #content-4 {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
}

@media (max-width: 850px) {
  .tabs__label {
    padding: 8px;
    font-size: 14px;
  }
  #tab-btn-1:checked ~ #content-1,
  #tab-btn-2:checked ~ #content-2,
  #tab-btn-3:checked ~ #content-3,
  #tab-btn-4:checked ~ #content-4 {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .tabs__label {
    display: block;
    font-size: 16px;

    &:not(:first-of-type) {
      border-left: 1px solid $main;
    }
  }
}
