html,
body {
  height: 100%;
}

body {
  color: $text;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  background-color: $bg;
  @extend %roboto-400;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 36px;
  line-height: 56px;
  @extend %merriweather-700;
}