//Переменные цветов
$main: #401E01;
$accent: #F2C12E;
$bg: #EEE4D2;
$text: #232323;
$title: #000;

%merriweather-700{
  font-family: Merriweather-Bold, sans-serif;
  font-weight: 700;
}

%roboto-700{
  font-family: Roboto-Bold, sans-serif;
  font-weight: 700;
}

%roboto-500{
  font-family: Roboto-Medium, sans-serif;
  font-weight: 500;
}

%roboto-400{
  font-family: Roboto-Regular, sans-serif;
  font-weight: 400;
}



