@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

@import "template/header";

.banner__img{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@import "template/advantages";
@import "template/range";
@import "template/contacts";
@import "template/slider";
@import "template/booking";
@import "template/footer";